.challengeArea{
    height:500px;
}

::-webkit-scrollbar {
    display: none;
}


.input-field{
    background:rgb(226, 226, 226)
}

.box-shadow{

    box-shadow: rgb(0 0 0 / 15%) 0px 1px 4px 0px;
}

.glass{

    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur(12px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.glass-blur{
    backdrop-filter: blur(24px);
}

.card-statistics {
    display: flex;
    flex-direction: column;
    margin: 0px 6px 12px;
    color: rgb(22, 21, 20);
    position: relative;
    text-align: left;
    
}


.statistics{
    max-width: 250px;
    height: 135px;
    background-position: left top;
    background-size: cover;
  
    overflow: hidden;
    position: relative;
    transition: background-position 3s ease 0s;
    box-shadow: rgb(0 0 0 / 15%) 0px 1px 4px 0px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.user-data-area{
    box-shadow: rgb(0 0 0 / 15%) 0px 1px 4px 0px;
    
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    box-sizing: border-box;
    z-index: 0;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2px 5px 5px;
}

.statistics-title {
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    font-size: 16px;
}


.user-name-area {
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
   

}

.graph-link{
    font-size: 18px;
    display: block;
    color:rgb(22,21,20);
    text-align: left;
   
}








